{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! Styles'n'Scripts }}
<link rel="stylesheet" type="text/css" href="{{asset "css/atom-one-dark.css"}}" />
<script src="{{asset "js/highlight.pack.js"}}" ></script>
<script>hljs.initHighlightingOnLoad();</script>

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

{{! The main content area on the homepage }}
<main id="main">

    <article class="{{post_class}} single-post">
        <header class="post-header">
                <h1 class="post-title">{{title}}</h1>
                <section class="post-meta">
                    <time datetime="{{date format="YYYY-MM-DD HH:MM"}}" itemprop="datePublished">
                        {{date format="YYYY-MM-DD HH:MM"}}
                    </time>
                    on
                    {{tags separator=" • "}}
                </section>
        </header>
        <section class="post-content">
            {{content}}
        </section>
    </article>

    <div class="post-footer">
            <section class="post-share">
                <ul>
                    {{> "share"}}
                </ul>
            </section>
    </div>

    <div class="post-related">
        <div class="prev">
            {{#prev_post}}
                <a rel="prev" href="{{url}}">← {{title}}</a>
            {{/prev_post}}
        </div>
        <div class="next">
            {{#next_post}}
                <a rel="next" href="{{url}}">{{title}} →</a>
            {{/next_post}}
        </div>
    </div>

    {{> "disqus"}}

</main>

{{/post}}
